:root {
    --bgColor: #323031;
    --textColor: #F2F7F2;
    --btnColor-hover: #F2F7F2;
    --btnColor: #467F97;
    --btnTextColor: #323031;
    --highLightColor: #CBA328;
    --sectionBgColor: #5F5B6B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    overflow-x: hidden;
    color: var(--textColor);
    background-color: var(--bgColor);
}


@media screen and (max-width: 768px) {
    #sloganArea h1 {
        font-size: 1.5rem;
    }

    #aboutUsText h3 {
        font-size: 1.5rem;
    }

    #aboutUsText p {
        font-size: 0.9rem;
    }
}